.sidebarRow {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    transition: all 0.3s ease;
}

.sidebarRow:hover {
    background-color: rgb(243, 243, 243);
    cursor: pointer;
}

.sidebarRow:hover>svg {
    color: red;
}

.sidebarRow__title {
    flex: 1;
    margin-left: 20px;
    font-size: 14px;
    font-weight: 500;
}

.sidebarRow.active {
    background-color: rgb(226, 225, 225);
}

.active h2 {
    font-weight: 700;
}

.active svg {
    color: red;
}